<html>
<head>
    <title>Welcome</title>
</head>
<body>
<article>
    <h1>Welcome</h1>
    <div>
        <p> Thank you for using our express mvc boilerplate, We are glad and hope you enjoy using this boilerplate. </p>
        <h3>Features</h3>
        <dl>
            <dt>
                <a href="https://stackoverflow.com/a/42684209/8279132">
                    ES6 classes without using transpilers
                </a>
            </dt>
            <dd>By using classic "exports.module" and "require", You can take the advantages of ES6 classes in a straight-forward way of developing and debugging</dd>
            <dt>
                <a href="https://developer.mozilla.org/en-US/docs/Web/Apps/Fundamentals/Modern_web_app_architecture/MVC_architecture">
                    MVC architecture
                </a>
            </dt>
            <dd>Implemented MVC architecture in <a href="https://github.com/i0natan/nodebestpractices/blob/master/sections/projectstructre/breakintcomponents.md#blog-quote-scaling-requires-scaling-of-the-entire-application">
                    self-contained components
                </a> way
            </dd>
            <!--<dt>Auto map components to routes</dt>-->
            <!--<dd>For every component you define, you have a parent route. for example, you have a "User" in components, now you have "/user" route. all routes defined in User component will point to "/user/route".</dd>-->

        </dl>
        <br/>
        <p>&mdash; The Team</p>
    </div>
</article>
</body>

<style>
    body {
        text-align: center;
        padding-top: 72px;
    }

    h1 {
        font-size: 50px;
    }

    body {
        font: 20px Helvetica, sans-serif;
        color: #333;
    }

    article {
        display: block;
        text-align: left;
        width: 650px;
        margin: 0 auto;
    }

    a {
        color: #dc8100;
        text-decoration: none;
    }

    a:hover {
        color: #333;
        text-decoration: none;
    }
    dd{
        font-size: 18px;
        color: #4e4e4e;
        margin-left: 16px;
        padding: 8px 0 16px;
    }
</style>
</html>

